$pure-black: #000;
$snow-white: #fff;
$light-beige: #F4ECE2;
$stone-gray: #B7B7B8;
$light-gray: #F5F5F6;
$dark-beige: #EBDECB;

$invalid: #F53C37;
$success: #21B046;
$success: #F0800C;
$success: #0F7BF5;