* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: $main-font;
  color: $main-color;
  font-size: $main-font-size;
}

button {
  font-family: $main-font;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}