.d-flex {
  display: flex;

  &.justify-content-between {
    justify-content: space-between;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-around {
    justify-content: space-around;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.flex-1 {
    flex: 1;
  }
}


.width-50 {
  flex-basis: 50%;
}

.d-block {
  display: block;
}

.container {
  padding: 0 80px;
}

.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}


@include mobile {
  .d-block-mobile {
    display: block !important;
  }

  .d-flex-mobile {
    display: flex !important;
  }

  .container {
    padding: 0 16px;
  }

  .flex-mobile-column {
    flex-direction: column !important;
  }

  .d-mobile-none {
    display: none !important;
  }
}

@include desktop {
  .d-desktop-none {
    display: none !important;
  }
}


@include fullHDdesktop {
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
  }
}