@for $i from 0 through 60 {
  .mr-#{$i} {
    margin-right:#{$i}px;
  }
  .ml-#{$i} {
    margin-left:#{$i}px;
  }
  .mt-#{$i} {
    margin-top:#{$i}px;
  }
  .mb-#{$i} {
    margin-bottom:#{$i}px;
  }
  .m-#{$i} {
    margin: #{$i};
  }

  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .pr-#{$i} {
    padding-right:#{$i}px;
  }
  .pl-#{$i} {
    padding-left:#{$i}px;
  }
  .pt-#{$i} {
    padding-top:#{$i}px;
  }
  .pb-#{$i} {
    padding-bottom:#{$i}px;
  }
  .p-#{$i} {
    padding: #{$i};
  }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  @include mobile {
    .mr-mobile-#{$i} {
      margin-right:#{$i}px !important;
    }
    .ml-mobile-#{$i} {
      margin-left:#{$i}px !important;
    }
    .mt-mobile-#{$i} {
      margin-top:#{$i}px !important;
    }
    .mb-mobile-#{$i} {
      margin-bottom:#{$i}px !important;
    }
    .m-mobile-#{$i} {
      margin: #{$i} !important;
    }

    .mx-mobile-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }

    .my-mobile-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }

    .pr-mobile-#{$i} {
      padding-right:#{$i}px !important;
    }
    .pl-mobile-#{$i} {
      padding-left:#{$i}px !important;
    }
    .pt-mobile-#{$i} {
      padding-top:#{$i}px !important;
    }
    .pb-mobile-#{$i} {
      padding-bottom:#{$i}px !important;
    }
    .p-mobile-#{$i} {
      padding: #{$i} !important;
    }

    .px-mobile-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }

    .py-mobile-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
  }
}

.position-relative {
  position: relative;
}