#hire-join-sections {
  overflow: hidden;
  padding-top: 10px;
  h1 {
    line-height: 82px;
    margin-bottom: 88px;
  }

  .items {
    display: flex;
    .left--side {
      width: 70%;
      padding-right: 155px;
      padding-bottom: 120px;
      .headline {
        margin-bottom: 55px;
        h2 {
          display: inline-block;
          position: relative;
          cursor: pointer;
          color: $stone-gray;
          transition: 0.3s ease;
          font-feature-settings: 'calt' off;
          &:after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            height: 1px;
            background: $pure-black;
            width: 0;
            transition: 0.3s ease;
          }

          &:hover {
            color: $pure-black;
            &:after {
              width: 100%;
            }
          }

          &.active {
            color: $pure-black;

            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    .right--side {
      position: relative;
      width: 30%;
      background: #FAF6F1;
      padding: 100px 0 100px 122px;

      &:after {
        content: "";
        position: absolute;
        left: 100%;
        width: 1000%;
        background: #FAF6F1;
        height: 100%;
        top: 0;
      }

      a {
        position: relative;
        display: inline-block;
        color: $pure-black;
        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          height: 1px;
          background: $pure-black;
          width: 100%;
        }
      }
    }
  }

  .text--privacy {
    color: #858585;
    cursor: pointer;
    @extend .caption-s--regular;
    a {
      color: $pure-black;
      text-decoration: underline;
    }
  }
}