#welcome-section {
  background: $light-beige;
  padding-bottom: 150px;

  h1 {
    line-height: 82px;
    width: 75%;
    @include mobile {
      width: 100%;
      line-height: 42px;
    }
  }

  @include mobile {
    padding-top: 16px;
    padding-bottom: 64px;
  }
}

#recruit-section {
  padding-top: 136px;
  padding-bottom: 136px;
  overflow: hidden;

  .cards {
    margin-top: 120px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    @include mobile {
      grid-column-gap: 8px;
      display: flex;
      flex-wrap: nowrap;
      overflow-x:auto;
      width: 100%;
    }

    .service-card {
      &:last-child {
        margin-right: 0;
      }

      @include mobile {
        flex: none;
        flex-shrink: 0;
        width: 90%;
      }
    }
  }

  @include mobile {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

#featured-client {
  background: $pure-black;
  color: $snow-white;
  .top--featured {
    padding-top: 120px;
    padding-bottom: 100px;

    @include mobile {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }
  .bottom--featured {
    background: $light-beige;
    width: 80%;
    padding: 88px 80px;
    color:$pure-black;
    .items {
      display: flex;
      @include mobile {
        grid-column-gap: 32px;
        display: inline-flex;
        flex-wrap: nowrap;
        padding-bottom: 40px;
        margin-left: -16px;
        padding-left: 16px;
        overflow-x:auto;
        width: calc(100% + 32px);
      }

      div {
        padding-bottom: 56px;
        border-bottom: 1px solid $pure-black;
        margin-right: 40px;
        flex-basis: 33%;

        p {
          white-space: nowrap;
        }

        @include tablet {
          flex-basis: 30% !important;
        }

        @include mobile {
          padding-bottom: 32px;
          padding-right: 0;

          flex-shrink: 0;
          width: 270px;
          flex-basis: unset;
          margin-right: 8px;
        }
      }
    }

    @include mobile {
      width: 100%;
      overflow: hidden;
      padding: 40px 16px 0 16px;
    }
  }
}

#articles {
  padding-top: 136px;
  padding-bottom: 136px;

  .article-cards {
    margin-top: 120px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 32px;

    @include mobile {
      display: inline-flex;
      flex-wrap: nowrap;
      margin-top: 40px;
      padding-bottom: 20px;
      margin-left: -16px;
      padding-left: 16px;
      overflow-x:auto;
      width: calc(100% + 32px);
      grid-column-gap: 8px;
    }

    .article-card {
      @include mobile {
        flex-shrink: 0;
        width: 100%;
      }
    }
  }

  @include mobile {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

#testimonials {
  position: relative;
  padding: 88px 120px 127px 110px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 50%;
    background: $light-beige;

    @include mobile {
      width: 70%;
    }

  }

  .quote {
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 144px;
    color: $pure-black;

    @include mobile {
      top: 0;
      left: 16px;
    }
  }

  .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 165px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      width: 12px;
      height: 12px;
      border-radius: 100px;
      border: 1px solid $pure-black;
      transition: 0.3s ease;
      cursor: pointer;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      &.active, &:hover {
        background: $pure-black;
      }
    }

    @include mobile {
      bottom: 64px;
    }
  }

  @include mobile {
    padding: 88px 0 110px;
  }
}