#privacy-terms {
  padding-top: 50px;
  padding-bottom: 136px;

  @include mobile {
    padding-top: 0;
    padding-bottom: 64px;
  }

  .content-items {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    .sidebar {
      width: 300px;
      margin-right: 70px;
      h2 {
        display: inline-block;
        position: relative;
        cursor: pointer;
        color: $stone-gray;
        transition: 0.3s ease;

        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          height: 1px;
          background: $pure-black;
          width: 0;
          transition: 0.3s ease;
        }

        &:hover {
          color: $pure-black;
          &:after {
            width: 100%;
          }
        }

        &.active {
          color: $pure-black;

          &:after {
            width: 100%;
          }
        }
      }
    }

    .content {
      flex: 1;

      .updated-at {
        text-transform: uppercase;
        color: $stone-gray;
      }

      .article {
        h2 {
          @extend .heading-s--regular;
          margin-bottom: 32px;
          margin-top: 64px;
          font-feature-settings: 'calt' off;

          @include mobile {
            margin-bottom: 16px;
            margin-top: 32px;

            font-size: 24px;
            font-family: 'TTFirsNeue-Regular', sans-serif;
            font-weight: 400;
          }
        }

        p {
          @extend .body-m--regular;
          line-height: 32px;
        }

        b {
          @extend .body-m--medium;
        }

        a {
          color: $info;
        }

        h6 {
          @extend .body-m--medium;
          margin-bottom: 16px;
          margin-top: 32px;

          @include mobile {
            margin-bottom: 8px;
            margin-top: 16px;
          }
        }
      }
    }
  }
}