#footer {
  .top-footer {
    background: $pure-black;
    border-bottom: 1px solid #333;
    padding: 96px 16px;

    h2 {
      color: $snow-white;
      text-align: center;
      line-height: 82px;

      @media screen and (max-width: 515px){
        br {
          display: none;
        }
      }
    }

    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .bottom-footer {
    background: $pure-black;
    color: $snow-white;
    padding-top: 95px;
    padding-bottom: 110px;
    border-bottom: 1px solid #333;

    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    #menu-footer {

      .social-icons {

        svg {
          fill: $snow-white;
          transition: 0.3s ease;

          &:hover {
            fill: #858585;
          }

          &:active {
            fill: $snow-white;
          }
        }
      }
      .right--footer {
        flex: 1;
        margin-left: 100px;
        justify-content: space-around;

        @include mobile {
          margin-left: 0;
          flex-wrap: wrap;
        }
      }
      .list-items {
        @include mobile {
          width: 50%;

          &:nth-child(3), &:nth-child(4) {
            margin-top: 32px;
          }
        }
        a {
          color: #7A7A7A;
          transition: 0.3s ease;
          svg {
            fill:#7A7A7A;
            transition: 0.3s ease;
          }
          &:hover {
            color: $snow-white;
            svg {
              fill: $snow-white;
            }
          }
        }
      }
    }
  }

  .copyright-section {
    padding-top: 40px;
    padding-bottom: 48px;
    background: $pure-black;
    color: $snow-white;

    .copyright {
      color: #CCCCCC;
    }

    a {
      color: #7A7A7A;
      transition: 0.3s ease;

      &:hover {
        color: $snow-white;
      }
    }

    @include mobile {
      padding-top: 32px;
      padding-bottom: 32px;
      > section {
        flex-wrap: wrap;
      }
      ul,p {
        flex: unset !important;
      }
      ul {
        width: 100%;
        justify-content: center;
        margin-top: 24px;
      }
    }
  }
}