#header {
  background: $snow-white;
  padding-bottom: 80px;
  padding-top: 50px;

  &.bg-beige {
    background: $light-beige;
  }

  .header-left {

  }

  .header-right {
    #menu {
      display: flex;
      align-items: center;

      > li {
        margin-left: 40px;

        &:last-child {
          margin-left: 55px;
        }

        a {
          color: $pure-black;
        }
      }

      @include mobile {
        display: none;
      }
    }
  }


  @include mobile {
    padding-bottom: 32px;
    padding-top: 32px;

    .logo {
      width: 94px;
      height: 16px;
    }

    .header-left {
      height: 16px;
    }

    &.opened-mobile {
      background: $snow-white;

      .header-right {
        #menu {
          display: flex;
          flex-direction: column;
          position: fixed;
          top: 80px;
          bottom: 0;
          left: 0;
          right: 0;
          background: $snow-white;
          z-index: 700;
          align-items: flex-start;
          padding: 0 16px;

          > li {
            margin-left: 0;
            margin-top: 8px;
            padding: 16px 0;

            &:first-child {
              margin-top: 0;
            }

            &.dropdown-item {
              width: 100%;

              .dropdown-menu-items {
                width: 100%;
                left: 0;
                position: relative;
                background: #fff;
                padding-bottom: 0;
                li {
                  padding-left: 0;
                  &:hover {
                    background: $light-gray;
                  }
                  &:after {
                   display: none;
                  }

                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}