.article-card {
  .image--section {
    img.main-image {
      width: 100%;
      height: 256px;
      object-fit: cover;
    }

    a {
      position: relative;
      display: block;
      line-height: 0;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(0deg, rgba(244, 236, 226, 0.8), rgba(244, 236, 226, 0.8)), #000000;
        opacity: 0;
        background-blend-mode: normal, color;
        z-index: 2;
        transition: 0.3s ease;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #C4C4C4;
        z-index: 1;
        transition: 0.3s ease;
        opacity: 0;
      }

      div.arrow {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        opacity: 0;
        transition: 0.3s ease;
        svg {
          transition: 0.2s ease;
          transform: translateX(-500%);
        }
      }
    }

    &:hover a:after {
      opacity: 0.8;
    }

    &:hover a:before {
      opacity: 0.3;
    }

    &:hover a .arrow {
      opacity: 1;
      svg {
        transform: translateX(0);
      }
    }

    &:hover img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      background: linear-gradient(0deg, rgba(244, 236, 226, 0.8), rgba(244, 236, 226, 0.8)), #000000;
      background-blend-mode: normal, color;
    }
  }

  .w-24 {
    width: 24px;
  }

  .h-24 {
    height: 24px;
  }

  .created-date {
    color: #858585;
  }
}