$sm-padding: 8px 24px;
$md-padding: 12px 24px;
$lg-padding: 16px 24px;

.button {
  display: inline-flex;
  align-items: center;
  background-color:unset;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  line-height: 24px;

  .loading-hide--text {
    display: flex;
    align-items: center;
  }
  
  &.show--loader {
    background: url("/img/loader.svg") no-repeat;
    background-size: 30px;
    background-position: center;

    .loading-hide--text {
      opacity: 0;
    }
  }


  @extend .body-m--medium;

  &:disabled {
    cursor: not-allowed;
  }

  svg {
    margin-left: 15px;
    transition: 0.2s ease;
  }

  &.dynamic-icon-size {
    @include mobile {
      svg {
        width: 11px;
        height: 11px;
      }
    }
  }

  &:hover {
    svg:not(.no--effect) {
      transform: translateX(5px);

      &.down {
        transform: translateY(5px);
      }
    }
  }

  &.primary {
    background-color: #000;
    color:$snow-white;

    svg {
      fill: $snow-white;
    }

    &:disabled {
      background-color: $stone-gray;
    }
  }

  &.secondary {
    background: #fff;
    border: 1px solid #DDDDDD;
    color: $pure-black;
    transition: 0.3s ease;

    &.transparent {
      background: transparent;
    }

    svg {
      fill: $pure-black;
    }

    &:not(.b-none):hover {
      border: 1px solid #B7B7B8;
    }

    &:not(.b-none):active {
      border-color:$pure-black;
    }

    &:disabled {
      color:$stone-gray;
      background-color: $light-gray;
    }
  }

  &.sm {
    padding: $sm-padding;
    font-size: 14px;
    @extend .caption-m--medium;
  }

  &.md {
    padding: $md-padding;
  }

  &.lg {
    padding: $lg-padding;
  }

  @include mobile {
    &.mobile-sm {
      padding: $sm-padding !important;
      font-size: 14px !important;
    }

    &.mobile-md {
      padding: $md-padding !important;
    }

    &.mobile-lg {
      padding: $lg-padding !important;
    }
  }
}