.tabs {
  .tabs--headline {
    display: flex;
    > div {
      position: relative;
      margin-right: 32px;
      cursor: pointer;
      h2 {
        color: $stone-gray;
        transition: 0.3s linear;
      }

      &.active h2, &:hover h2 {
        color: $pure-black;
      }

      &:hover:after, &.active:after {
        width: 100%;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 0;
        left: 0;
        height: 1px;
        background: $pure-black;
        transition: 0.2s ease;
      }

      @include mobile {
        margin-right: 16px;
      }
    }
  }

  .tab-contents {
    overflow: hidden;
    margin-top: 70px;
    transition: height 0.1s ease;
    &:not(.disabled-animate-height) {
      transition: height 0.3s ease;
    }

    @include mobile {
      margin-right: -16px;
      margin-left: -16px;
    }

    .tab-content {
      transition: 0.4s ease;

      > section {
        float: left;
        @include mobile {
          padding-left: 16px;
        }
        &.active {
          display: block;
        }
      }
    }

    @include mobile {
      margin-top: 32px;
    }
  }

  @include mobile {
    margin-right: -16px;
  }
}